/* services carousel */

.services_carousel {
    position: relative;
    height: 70vh;
    width: 80%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.carousel_image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 70%;
    z-index: -1;
    /* border-radius: 1em; */
}

.service {
    position: absolute;
    width: 60%;
    height: 85%;
    padding: 5em;
    top: 7.5%;
    left: 20%;
    color: white;
    background-color: var(--clr-bg-div-gray);
    z-index: 10;
    border-radius: 1em;
}

.service h1 {
    font-size: 4vh;
}

.service p {
    margin: 2em;
    font-size: 2.5vh;
}

.service .btn {
    margin-top: 8vh;
    margin-inline: auto;
    width: fit-content;
}

.service a {
    text-decoration: none;
}

.spacer {
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../../images/home/step_ledge.svg');
}

.spacer2 {
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../../images/home/step_ledge_bottom.svg');
}

.carousel_track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel_slider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

}

.carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
    z-index: 10;
}

.carousel_button--left {
    left: 12%;
}

.carousel_button--right {
    right: 12%;
}


.carousel_button img {
    width: 30px;
}

.carousel_nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background: #615c5c;
}

.carousel_indicator {
    border: o;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: white;
    margin: 0 12px;
    cursor: pointer;
}

.carousel_indicator.current-slide {
    background: var(--clr-main-yellow);
}

.is-hidden {
    display: none;
}

@media (max-width: 35em) {

    .service {
        padding: 1em;
    }

    .service h1 {
        font-size: 4.5vw;
    }

    .service p {
        font-size: 3.5vw;
    }

    .service .btn {
        width: fit-content;
    }

}

@media (min-width: 35em) and (max-width: 55em) {

}

@media (min-width: 35em) {
    
}
