.contact {
    margin: 10% 0% 10% 0%;
    padding: 0;
    box-sizing: border-box;
    
}

.contact_section {
    display: flex;
    margin-bottom: 5%;
    background-color: rgb(150, 148, 148);
}

.letters {
    width: 50%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: var(--clr-bg-div-gray);
    display: flex;
    flex-direction: column;
    padding: 2vh 4vw;
    width: 100%;
    max-width: 600px;
    border-radius: 1em;
}

form h3 {
    color: white;
    font-weight: 800;
    margin-bottom: 5%;
    font-size: 3vh;
    text-align: center;
}

form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: lightgray;
    font-size: 16px;
}

.form_btn {
    margin: 5%;
    max-width: fit-content;
    align-self: center;
}

.contact_details {
    padding: 0;
    margin: 0 0 0 12%;
    color: white;
    background-color: rgb(150, 148, 148);
    
    
}

@media (max-width: 35em) {

    .contact {
        margin: 30% 10% 10% 10%;
    }
  
    .contact_section {
        flex-direction: column;
        border-radius: 1em;
        overflow: hidden;
    }

    .letters {
        width: 100%;
        margin-bottom: 10%;
    }
}