/* header */
.logo {
    margin: 2rem;
    cursor: pointer;
    height: 6em;
    opacity: 75%;
    position: fixed;
}

.nav-header {
    z-index: 2;
    display: flex;
    width: 70vw;
    justify-content: flex-end;
    position: fixed;
    right: 0;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    margin: 2em 0em 0em 2em;
    
    /*background if @supports not supported*/
    background: rgba(97, 92, 92, 0.863);
}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        /* could put back in just phone size if preferred also, 
        make sure this is readable when */
        background: hsl(0 0% 100% /0.1);
        backdrop-filter: blur(1rem);
    }
}

.primary-navigation a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25em;
}

.primary-navigation a.current-page{
    font-weight: 900;
    color: rgb(230, 194, 98)
}

.primary-navigation a:hover {
    color: rgb(235, 216, 165);
}



@media (max-width: 35em) {
    .logo {
        height: 4em;
    }
 
     .primary-navigation {
         --gap: 2em;
         position: fixed;
         z-index: 1000;
         inset: 0 0 0 25%;
 
         flex-direction: column;
         padding: min(30vh, 6rem) 2em;
 
         transform: translateX(100%);
         transition: transform 350ms ease-out;
     
     }
 
     .primary-navigation[data-visible="true"] {
         transform: translateX(0%);
     }
 
     .mobile-nav-toggle {
         display: block;
         position: absolute;
         z-index: 9999;
         background-color: transparent;
         background-image: url("../images/header/ham_icon.svg");
         background-repeat: no-repeat;
         width: 2rem;
         border: 0;
         aspect-ratio: 1;
         top: 2rem;
         right: 2rem;
         position: fixed;
     }
 
     .mobile-nav-toggle[aria-expanded="true"] {
         background-size: 1rem;
         background-image: url("../images/header/close.png");
     }
 
 }
 
 @media (min-width: 35em) and (max-width: 55em) {
 
 }
 
 @media (min-width: 35em) {
     .primary-navigation {
         --gap: clamp(1.5rem, 5vw, 3rem);
         padding-block: 2rem;
         padding-inline: clamp(3rem, 10vw, 10rem);
     }
 }
 