/* header */
.logo {
    margin: 2rem;
    cursor: pointer;
    height: 6em;
    opacity: 75%;
    position: fixed;
    z-index: 11;
}

.nav-header {
    z-index: 9999;
    display: flex;
    width: 70vw;
    justify-content: flex-end;
    position: fixed;
    right: 0;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    margin: 0em 0em 0em 2em;
    background: var(--clr-bg-div-gray);
}


.primary-navigation a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.25vh;
}

.primary-navigation a.current-page{
    font-weight: 900;
    color: var(--clr-bright-yellow);
}

.primary-navigation a:hover {
    color: var(--clr-light-yellow);
}

@media (max-width: 1366px) {


    .primary-navigation {
        --gap: 2em;
        position: fixed;
        width: 60vw;
        z-index: 3;
        inset: 0 0 0 25%;

        flex-direction: column;
        padding: min(30vh, 6rem) 2em;

        transform: translateX(250%);
        transition: transform 350ms ease-out;
    
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(50%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9998;
        background-color: transparent;
        background-image: url("../images/header/ham_icon.svg");
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        position: fixed;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-size: 1rem;
        background-image: url("../images/header/close.png");
        z-index: 10000;
    }
}


@media (max-width: 35em) {
    .logo {
        height: 4em;
    }

    .primary-navigation {
        width: 70vw;
        transform: translateX(100%);
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }

 }
 
 @media (min-width: 35em) and (max-width: 55em) {
 
 }
 
 @media (min-width: 35em) {
     .primary-navigation {
         --gap: clamp(1.5rem, 5vw, 3rem);
         padding-block: 2rem;
         padding-inline: clamp(3rem, 10vw, 10rem);
     }
 }
 