.projects {
    margin: 12% 5% 0 5%;
}

.projects h1 {
    color: navy;
    text-align: center;
    font-size: 6vh;
}
.main_splash {
    margin-bottom: 9%;
}

.dividing_line {
    height: 2vh;
    background-color: navy;
    margin-bottom: 1%;
    margin-top: 1%;
}

.heading_images {
    display: flex;
    background-color: bisque;
    overflow: hidden;
}

.heading_images img {
    width: 25%;
}

.project {
    display: flex;
    color: #5e5d5de1;
    margin-bottom: 3%;
}

.project_image img{
    height: 80vh;
}
.project_description {
    padding: 2em;
}

.project_description h1 {
    text-align: center;
    margin-bottom: 5%;
}

.project_description img {
    height: 6vh;
}

.project_description p {
    font-size: 3vh;
    text-align: justify;
    
}

.project_list {
    padding: 3vh;
}

.project_list ul {
    line-height: 6vh;
}

.project_list li {
    list-style: georgian outside url(../images/projects/microBullet_gray.svg);
    font-size: 4vh;
    text-indent: 2vh;
}

@media (max-width: 35em) {
    .projects {
        margin: 30% 7% 0 7%;
    }

    .projects h1 {
        font-size: 7vw;
    }

    .project {
        display: flex;
        flex-direction: column;
    }
    
    .project_image img{
        height: 96vw;
        margin-bottom: 3vw;
    }

    .project_description {
        padding: 1em;
    }
    
    .project_description img {
        height: 6vh;
    }
    
    .project_description p {
        font-size: 5vw;
    }
    
    .project_list {
        padding: 3vh;
    }
    
    .project_list ul {
        line-height: 9vw;
    }
    
    .project_list li {
        font-size: 5.5vw;
        text-indent: 2vh;
    }
    

}